In [55]:
import pandas as pd
import json

# Assuming your data is already loaded into a variable 'data'
# Replace this with how you're accessing the JSON data

# Convert the data to a list of dictionaries
records = [{"ID": key, "Content": value} for key, value in data.items()]

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(records)

# Now 'df' contains your data structured in a DataFrame with columns 'ID' and 'Content'

In [56]:
import pandas as pd

# Replace 'data.csv' with the path to your CSV file
df2 = pd.read_csv('/content/test.csv')

# Now 'df' contains your CSV data in a DataFrame

In [57]:
import pandas as pd

# Assuming df1 and df2 are your DataFrames
print("DataFrame 1:")
print(df)

print("\nDataFrame 2:")
print(df2)

DataFrame 1:
        ID                                            Content
0     2055  During the visit, I examined Mr. Don Hicks, wh...
1      291  During the visit, I examined Tina Will, a 69-y...
2      102  D: Good morning Tommie, how can I help you tod...
3     2966  D: Good morning, Chris. I understand you've be...
4     2438  D: Hi Ernest, I understand you're here for a c...
...    ...                                                ...
1996  1732  D: ¡Buenos días, Erwin Thompson! Entiendo que ...
1997  2193  During the visit, I asked Ms. Diana Griffith a...
1998  2833  During the visit, I, the doctor, explained to ...
1999  1221  Durin' the vissit, Mildred Favero, aged 93, pr...
2000  1284  D: Good morning, Mr. Burns. How can I help you...

[2001 rows x 2 columns]

DataFrame 2:
                                         Id  Transcript  \
0      587d0feb-5780-43e1-9595-e19d4b31dc07        2055
1      263e8884-e8ba-4266-bb0c-85271419a0b3        2055
2      74c68eca-61b2-49d0-9b1c-0f6f886b04ff        2055
3      8572ab5d-f20a-4de5-ab44-f42b07e45a00        2055
4      f5c92075-ef05-4fbf-a7a0-aa86c586ff02        2055
...                                     ...         ...
12001  89f03c30-3b65-4241-9157-9362f56381e6        1284
12002  25bf4a39-edd7-40d5-8c55-9ae5a6fdee08        1284
12003  774a32b8-237d-42f1-9907-d14d27d43858        1284
12004  9fe29c8e-7189-4c47-ab27-c01d61cf39fc        1284
12005  ca6e4182-916f-473e-8d37-2395346afc7c        1284

                                         Question
0                     What is the patient's name?
1                      What is the patient's age?
2                What is the patient's condition?
3      What symptoms is the patient experiencing?
4         What precautions did the doctor advise?
...                                           ...
12001                  What is the patient's age?
12002            What is the patient's condition?
12003  What symptoms is the patient experiencing?
12004     What precautions did the doctor advise?
12005         What drug did the doctor prescribe?

[12006 rows x 3 columns]

In [6]:
import pandas as pd

# Assuming df is your DataFrame
# Replace 'your_dataframe.csv' with the desired file name for your CSV
df.to_csv('your_dataframe.csv', index=False)

In [58]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import words
import nltk

# Download the words corpus if you haven't already
nltk.download('words')

# Assuming df is your DataFrame and 'Content' is the column of interest
non_english_rows = df[df['Content'].apply(lambda x: not any(word in words.words() for word in word_tokenize(str(x).lower())))]

[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

KeyboardInterrupt: ignored

In [27]:
# Assuming df is your DataFrame
row_35 = df.iloc[1996]  # Indexing in Python starts from 0, so the 35th row has an index of 34

print(row_35)

ID                                                      1732
Content    D: ¡Buenos días, Erwin Thompson! Entiendo que ...
Name: 1996, dtype: object

In [68]:
numbers = list(range(36, 1997, 10))
print(numbers)

[36, 46, 56, 66, 76, 86, 96, 106, 116, 126, 136, 146, 156, 166, 176, 186, 196, 206, 216, 226, 236, 246, 256, 266, 276, 286, 296, 306, 316, 326, 336, 346, 356, 366, 376, 386, 396, 406, 416, 426, 436, 446, 456, 466, 476, 486, 496, 506, 516, 526, 536, 546, 556, 566, 576, 586, 596, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 706, 716, 726, 736, 746, 756, 766, 776, 786, 796, 806, 816, 826, 836, 846, 856, 866, 876, 886, 896, 906, 916, 926, 936, 946, 956, 966, 976, 986, 996, 1006, 1016, 1026, 1036, 1046, 1056, 1066, 1076, 1086, 1096, 1106, 1116, 1126, 1136, 1146, 1156, 1166, 1176, 1186, 1196, 1206, 1216, 1226, 1236, 1246, 1256, 1266, 1276, 1286, 1296, 1306, 1316, 1326, 1336, 1346, 1356, 1366, 1376, 1386, 1396, 1406, 1416, 1426, 1436, 1446, 1456, 1466, 1476, 1486, 1496, 1506, 1516, 1526, 1536, 1546, 1556, 1566, 1576, 1586, 1596, 1606, 1616, 1626, 1636, 1646, 1656, 1666, 1676, 1686, 1696, 1706, 1716, 1726, 1736, 1746, 1756, 1766, 1776, 1786, 1796, 1806, 1816, 1826, 1836, 1846, 1856, 1866, 1876, 1886, 1896, 1906, 1916, 1926, 1936, 1946, 1956, 1966, 1976, 1986, 1996]

In [74]:
#getting all the rows with data in a different language import pandas as pd

# Assuming df is your original DataFrame

# List of row indices to extract
row_indices = list(range(6, 1997, 10))  # This generates the list of rows you specified

# Extract rows with the specified indices and select 'ID' and 'Content' columns
new_df = df.iloc[row_indices][['ID', 'Content']]
print(new_df)

        ID                                            Content
6     3538  D: शुभ प्रभात, थॉमस जी। आज मुझे आपकी कैसे सहाय...
16    2340  D: صباح الخير، السيدة Godwin. أنا أفهم أنك تتع...
26    4580  D: शुभ सुहावनी डेनिस, मैं डॉ॰ स्मिथ हूँ। आप आज...
36    2500  D: Good morning Christopher. How can I help yo...
46    2131  During the visit, I, the doctor, examined Mr. ...
...    ...                                                ...
1956  3492  D: Good morning, Dauni ji.I understand that yo...
1966   707  During the visit, I was the doctor, I listened...
1976   586  D: Good morning, Joan, how do you feel today?\...
1986  2468  D: Good morning Philip, I am Doctor Smith.My n...
1996  4654  D: Hello, Robert.how do you feel today?\nP: He...

[200 rows x 2 columns]

In [76]:
pip install googletrans==4.0.0-rc1

SyntaxError: ignored

In [77]:
from googletrans import Translator
import pandas as pd

# Function to translate text to English
def translate_to_english(text):
    translator = Translator()
    translation = translator.translate(text, dest='en')
    return translation.text

# Assuming new_df is your DataFrame with non-English content in the 'Content' column
new_df['Content'] = new_df['Content'].apply(translate_to_english)

In [78]:
print(new_df)
new_df.to_csv('translated_data4good.csv', index=False)

        ID                                            Content
6     3538  D: Good morning, Thomas ji.How can I help you ...
16    2340  D: Good morning, Godwin.I understand that you ...
26    4580  D: Auspicious pleasant Denis, I am Dr. Smith.H...
36    2500  D: Good morning Christopher. How can I help yo...
46    2131  During the visit, I, the doctor, examined Mr. ...
...    ...                                                ...
1956  3492  D: Good morning, Dauni ji.I understand that yo...
1966   707  During the visit, I was the doctor, I listened...
1976   586  D: Good morning, Joan, how do you feel today?\...
1986  2468  D: Good morning Philip, I am Doctor Smith.My n...
1996  4654  D: Hello, Robert.how do you feel today?\nP: He...

[200 rows x 2 columns]

In [45]:
import pandas as pd

# Assuming df is your original DataFrame
numbers = list(range(6, 1997, 10))  # List of column numbers to be removed

# Ensure that the column numbers are within the DataFrame's range
numbers = [col for col in numbers if col < len(df.columns)]

In [54]:

# Drop columns based on their numerical position
df = df.drop(df.columns[36])

IndexError: ignored

In [79]:
print(df)

        ID                                            Content
0     2055  During the visit, I examined Mr. Don Hicks, wh...
1      291  During the visit, I examined Tina Will, a 69-y...
2      102  D: Good morning Tommie, how can I help you tod...
3     2966  D: Good morning, Chris. I understand you've be...
4     2438  D: Hi Ernest, I understand you're here for a c...
...    ...                                                ...
2193  4654  D: Hello, Robert.how do you feel today?\nP: He...
2194  1974  D: Hello, Deborah.How can I help you today?\nP...
2195  2699  During the visit, examine Don Theodore Hems, 7...
2196  4195  During the visit, I evaluated Miss Lori Batis,...
2197  1732  D: Good morning, Erwin Thompson!I understand t...

[2198 rows x 2 columns]

In [80]:
# Assuming 'ID' is the column name for IDs in both DataFrames

# Extract IDs from 'new_df'
ids_to_drop = new_df['ID']

# Drop rows from df based on matching 'ID' values
df = df[~df['ID'].isin(ids_to_drop)]
print(df)

        ID                                            Content
0     2055  During the visit, I examined Mr. Don Hicks, wh...
1      291  During the visit, I examined Tina Will, a 69-y...
2      102  D: Good morning Tommie, how can I help you tod...
3     2966  D: Good morning, Chris. I understand you've be...
4     2438  D: Hi Ernest, I understand you're here for a c...
...    ...                                                ...
2192  1555  I revealed during a journey with a 79 -year -o...
2194  1974  D: Hello, Deborah.How can I help you today?\nP...
2195  2699  During the visit, examine Don Theodore Hems, 7...
2196  4195  During the visit, I evaluated Miss Lori Batis,...
2197  1732  D: Good morning, Erwin Thompson!I understand t...

[1978 rows x 2 columns]

In [81]:
# Concatenate new_df to df
df = pd.concat([df, new_df], ignore_index=True)
print(df)

        ID                                            Content
0     2055  During the visit, I examined Mr. Don Hicks, wh...
1      291  During the visit, I examined Tina Will, a 69-y...
2      102  D: Good morning Tommie, how can I help you tod...
3     2966  D: Good morning, Chris. I understand you've be...
4     2438  D: Hi Ernest, I understand you're here for a c...
...    ...                                                ...
2173  3492  D: Good morning, Dauni ji.I understand that yo...
2174   707  During the visit, I was the doctor, I listened...
2175   586  D: Good morning, Joan, how do you feel today?\...
2176  2468  D: Good morning Philip, I am Doctor Smith.My n...
2177  4654  D: Hello, Robert.how do you feel today?\nP: He...

[2178 rows x 2 columns]

In [83]:
#now we have starting dataset but with mostly in english
df.to_csv('mostly_in_english2.csv', index=False)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')